
#yt{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
}
nav{
    width: 15%;
    background: white;
    height: 960px;
    display: flex;
    flex-direction: column;
}
main{
    width: 75%;
    background: white;
    height: 960px;
}
header{
    width: 100%;
    background: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: black;
}
.lg{
    width: 25%;
    height: 100%;
}
.el1{
    width: 100%;
    height: 13%;
    background: white;

    font-size: 15px;
    color: black;
}
.el2{
    width: 100%;
    height: 27%;
    background: white;
    margin-top: 5px;
    color: black;
}
.el3{
    width: 100%;
    height: 30%;
    background: white;
    margin-top: 5px;
    color: black;
}
body {
  margin: 0;
  font-family: sans-serif;
  background: white;
  color: #fff;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.card {
  flex-direction: row;
  min-width: 200px;
  background: lightgray;
  border-radius: 8px;
  padding: 8px;
}
.thumb {
  background: grey;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}
.title {
  font-weight: bold;
}
.channel {
  font-size: 14px;
  color: #aaa;
}
.search{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.i1{
  width: 85%;
  height: auto;
  background: whitesmoke;
  color: lightgrey;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: right;
  gap: 70%;
  font-size: 50px;

}
.i2{
  width: 10%;
  height: auto;
}
.category1{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  gap: 10px;
}
.c{
  width: 9%;
  height: auto;
  border-radius: 7%;
  background: #f8f1f1;
  color: black;
  text-align: center;

}
